.env
/node_modules
dist/
node_modules/
example/node_modules
example/dist
tests/screenshots/*
.env
.next
.idea
.DS_Store
.vercel
yarn-error.log
leather-chromium.zip
packages
web-ext-artifacts/
.yalc/
yalc.lock
coverage
release_body.md
trace*
/test-results/
/playwright-report/
/playwright/.cache/
leather-styles
.netlify
./.vscode/settings.json
storybook-static

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
yarn.lock

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/Scripts


# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
